/* Main CSS Styles Whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
